
/* add style to every button widget */
button {
    background: black; 
    min-width: 50px;
    min-height: 25px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.buffer {
    border: 1px solid lightgreen;
}

.CMV {
    border: 1px solid lightgreen;
}

box {
    border: 1px solid lightgreen;
}

spinbutton {
    padding: 10px;
}

.reset:hover {
   background-color: red; 
}

.memory_scroll {
    border: 1px solid lightgreen;
}

.cell {
    color: lime;
}

#address_column, #value_column {
    background-color: lightgreen;
    color: black;
    border-radius: 0px;
}

