
/* add style to every button widget */
button {
    background: black; 
    min-width: 50px;
    min-height: 25px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* snake case turns into no underscore */
/* text_view widget -> textview */

/* add style to every textview widget */
textview {
    background: #96ff001f;
    border: 1px solid white;
    border-radius: 4px;
}

textview:hover {
    border-color: green;
}

/* add style to widget with class "assemble_button" */
.assemble_button:hover {
    background-color: #FF0000;
}

